<html>
<head>
    <title>Web Server</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <script type="text/javascript" src="static/js/script.js"></script>
    <div class="header">
        Simple SIEM
    </div>
    <div class="content">
        <div class="contentRow">
            <div class="computersBlock">
                <div class="computersBlockHeader">
                    Подключённые компьютеры
                </div>
                <div class="computersBlockContent">
                    <div class="computersBlockContentRow">
                        <div>
                            Компьютер
                        </div>
                        <div>
                            Адрес
                        </div>
                    </div>
                </div>
            </div>
            <div class="rulesBlock">
                <div class="rulesBlockHeader">
                    Правила
                </div>
                <div class="rulesBlockContent">
                    <div class="rulesBlockContentRow">
                        <div>
                            Компьютер
                        </div>
                        <div>
                            Адрес
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>